.oauth-provider-logos {
  max-width: 1rem;
  height: auto;
  margin-right: .5rem;
}

.oauth-provider-buttons {
 background-color: white;
 text-decoration: none;
 color: rgba(var(--bs-link-color-rgb));
 font-weight: bold;
 border-width: 0;
 border-color: white;
}